/*css global variables*/
:root {
    --blue: #66c0f4;
    --white: #ffffff;
    --green: #198754;
    --dark-blue-gradient: radial-gradient(
            circle,
            rgba(42, 71, 94, 1) 47%,
            rgba(27, 40, 56, 1) 100%,
            rgba(121, 191, 205, 1) 100%
    );
}

body {
    background: var(--dark-blue-gradient)
}

/*Colors*/
.dark-blue-bg {
    background: var(--dark-blue-gradient);
}

.blue {
  color: var(--blue);
}

.green {
  color: var(--green);
}

.blue-box-shadow {
    -webkit-box-shadow: 5px 5px 9px 2px #000000;
    box-shadow: 5px 5px 9px 2px #000000;
}